<section class="articles-section">
  <h2 class="section-title">Articles</h2>
  
  <div class="articles-grid">
    {% for post in site.posts limit:6 %}
      <article class="article-card">
        
        <h3 class="card-title">
          <a href="{{ post.url }}">{{ post.title }}</a>
        </h3>

        <div class="card-footer" style="justify-content: flex-end;"> <a href="{{ post.url }}" class="read-more">
            read more <span class="arrow">&longrightarrow;</span>
          </a>
        </div>

      </article>
    {% endfor %}
  </div>
</section>
